# General purpose records

record(lsi, "$(P)Id") {
   field (DESC, "RF power meter id")
   field (DTYP, "stream")
   field (INP, "@n1912a.proto get_id $(PORT)")
   field (SIZV, "100")
   field (PINI, "YES")
}

record(lsi, "$(P)SystErr") {
   field (DESC, "HPM system error")
   field (DTYP, "stream")
   field (INP, "@n1912a.proto get_err($(P)) $(PORT)")
   field (SIZV, "100")
   field (PINI, "YES")
   field (SCAN, "1 second")
}
